.srtops1{
display: inline-block;
position: relative;
top: 2%;
left: 15%;
font-size: 60px;
}
.srtops{
display: inline-block;
position: relative;
top: 4%;
left: 33%;
width:40%;
font-size: 20px;
}
.stops2{
display: block;
background-color:#4A0E50;
position: relative;
width:70%;
height:70%;
top: 10%;
left: 15%;
font-size: 20px;
}

.rtops3{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.imgsr1{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}
.stops22{
display: block;
background-color:#CC5500;
position: relative;
width:70%;
height:70%;
top: 25%;
left: 15%;
font-size: 20px;
}

.rtops33{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.imgsr11{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}
.stops222{
display: block;
background-color:#4C0028;
position: relative;
width:70%;
height:70%;
top: 40%;
left: 15%;
font-size: 20px;
}

.rtops333{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.imgsr111{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}


.stops2222{
display: block;
background-color:#2F4F4F;
position: relative;
width:70%;
height:70%;
top: 55%;
left: 15%;
font-size: 20px;
}

.rtops3333{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.imgsr1111{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}



.stops22222{
display: block;
background-color:#191970;
position: relative;
width:70%;
height:70%;
top: 70%;
left: 15%;
font-size: 20px;
}

.rtops33333{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.imgsr11111{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}



.buttonsr {
    border: solid;
  
    padding: 10px 10px;
    text-align: center;
    width: 23%;
    border-width:1px;
    border-color:black;
    font-weight:bold;
    color:blue;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    background-color:white;
  }
#button-positionsr{
    margin-left: 600px;
    margin-top: 330px;
  }
