
.tops1{
display: inline-block;
position: relative;
top: 2%;
left: 15%;
font-size: 60px;
}
.tops{
display: inline-block;
position: relative;
top: 4%;
left: 33%;
width:40%;
font-size: 20px;
}
.tops2{
display: block;
background-color:#4A0E50;
position: relative;
width:70%;
height:70%;
top: 10%;
left: 15%;
font-size: 20px;
}

.tops3{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.img1{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}
.tops22{
display: block;
background-color:#CC5500;
position: relative;
width:70%;
height:70%;
top: 25%;
left: 15%;
font-size: 20px;
}

.tops33{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.img11{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}
.tops222{
display: block;
background-color:#4C0028;
position: relative;
width:70%;
height:70%;
top: 40%;
left: 15%;
font-size: 20px;
}

.tops333{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.img111{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}


.tops2222{
display: block;
background-color:#2F4F4F;
position: relative;
width:70%;
height:70%;
top: 55%;
left: 15%;
font-size: 20px;
}

.tops3333{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.img1111{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}



.tops22222{
display: block;
background-color:#191970;
position: relative;
width:70%;
height:70%;
top: 70%;
left: 15%;
font-size: 20px;
}

.tops33333{
display: inline-block;
position:relative;
Color: white;
top:10%;
left:15%;
width:30%;
}
.img11111{
display: inline-block;
position: relative;
top: 15%;
left: 25%;
width: 40%;
height: 70%
}



.button {
    border: solid;
  
    padding: 10px 10px;
    text-align: center;
    width: 23%;
    border-width:1px;
    border-color:black;
    font-weight:bold;
    color:blue;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    background-color:white;
  }
#button-position{
    margin-left: 600px;
    margin-top: 330px;
  }
